/**
 * 分页组件相关样式
 */
.pagination {
  display: block;
  margin: 20px 0 10px 0;
  border-radius: 5px;
  text-align: right;
}
.pagination li {
  display: inline-block;
  margin-left: 5px;
  border-radius: 1px;
  color: #2bb8aa;
  vertical-align: top;
}
.pagination li a {
  text-decoration: none;
  color: #3dc6b6;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 14px;
  cursor: pointer;
}
.pagination li.disabled a {
  color: #2bb8aa;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #ccc;
  cursor: not-allowed;
}
.pagination li.active a {
  color: #fff;
  background-color: #3dc6b6;
  border-color: #3dc6b6;
}
