.photo-list {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 0;
}
.photo-list li {
  list-style: none;
  display: inline-block;
}
.photo-list li:hover {
  border-color: #aaa;
  cursor: pointer;
}
.photo-list .photo-wrapper {
  width: 159px;
  height: 96px;
  text-align: center;
  margin-right: 10px;
}
.photo-list .photo-wrapper .img {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: url('../../img/bg.png');
}
.photo-list .photo-wrapper .img .imgitem {
  width: 159px;
  height: 96px;
}
.photo-list .photo-wrapper .img .imgitem img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.photo-list .photo-wrapper .img .imgitem .del {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  background-image: url(http://cs0.meituan.net/mtdeal2/image/photo_delete-min.v2acdf60.png);
  z-index: 1;
}
.photo-list .photo-wrapper .img .imgitem .mask {
  display: none;
}
.photo-list .photo-wrapper .img:hover .imgitem + .mask {
  background-color: #000;
  background-image: url(http://cs0.meituan.net/mtdeal2/image/photo_zoom-min.vf809b6b.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  text-align: center;
  display: block;
  z-index: 2;
}
.photo-list .photo-wrapper .text {
  color: #888;
}
.previewWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.previewWrapper .previewContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.previewWrapper .previewContent img {
  max-width: none;
}
.previewWrapper .previewContent .close {
  background-position: 0 0;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 13px;
  cursor: pointer;
  top: -32px;
  right: -28px;
  background-image: url('../../img/close.png');
  background-repeat: no-repeat;
  opacity: 1;
}
